body{
    background: black;
}

.Header{
    padding: 14px;
}

.Logo{
    font-weight: bold;
    color: white;
    font-size: 30px;
    position: relative;
    display: inline-block;
    width: 140px;
    height: 36px;
}

.Logo > .Text{
    position: absolute;
    z-index: 2;
}

.Logo > .RedSquare{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid palegoldenrod;
    background: hsl(0, 100%, 60%);
    z-index: 1;
    top: 0px;
    left: -6px;
}

.Logo > .BlueSquare{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid palegoldenrod;
    background: hsl(240, 100%, 60%);
    z-index: 1;
    top: 0px;
    left: 68px;
}

.Game_Over{
    text-align: center;
    background: rgba(0,0,0,0.8);
    position: absolute;
    width: 312px;
    height: 416px;
    top: 0px;
    z-index: 2;
}

.Game_Over > .Game_Over_Text{
    color: red;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    top: 160px;
    position: absolute;
}

.Game_Board{
    background: rgb(19, 44, 82);
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.Square_Box{
    border: 1px solid cyan;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.Square_Box-Filled{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    left: 8px;
    border: 2px solid palegoldenrod;
    z-index: 1;
}

.Square_Box_Link{
    position: absolute;
}

.Square_Box_Link.UP{
    width: 15px;
    height: 10px;
    top: 0px;
    left: 17.5px;
}

.Square_Box_Link.RIGHT{
    width: 10px;
    height: 15px;
    bottom: 17.5px;
    right: 0px;
}

.Square_Box_Link.DOWN{
    width: 15px;
    height: 10px;
    bottom: 0px;
    left: 17.5px;
}

.Square_Box_Link.LEFT{
    width: 10px;
    height: 15px;
    bottom: 17.5px;
    left: 0px;
}