.Info_Board{
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 156px - 28px);
    height: calc(416px - 28px);
    color: white;
    text-align: center;
    padding: 14px;
}

.Info_Section + .Info_Section{
    margin-top: 14px;
}

.Next_Title, .Stage_Title, .Score_Title{
    font-size: 32px;
    padding: 5px;
}

.Score_Number, .Stage_Number{
    font-size: 40px;
    padding: 5px;
    text-align: center;
    min-width: 50px;
    background: rgba(255,255,255,0.1);
    display: inline-block;
    height: 40px;
    font-weight: bold;
}

.Next_Box{
    border: 4px solid cyan;
    width: 100px;
    height: 100px;
    position: relative;
    background: rgb(19, 44, 82);
    margin: 0 auto;
}

.Next_Box-Filled{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 16px;
    left: 16px;
    border: 4px solid palegoldenrod;
    z-index: 1;
}

.Next_Box_Link{
    position: absolute;
}

.Next_Box_Link.UP{
    width: 30px;
    height: 20px;
    top: 0px;
    left: 35px;
}

.Next_Box_Link.RIGHT{
    width: 20px;
    height: 30px;
    bottom: 35px;
    right: 0px;
}

.Next_Box_Link.DOWN{
    width: 30px;
    height: 20px;
    bottom: 0px;
    left: 35px;
}

.Next_Box_Link.LEFT{
    width: 20px;
    height: 30px;
    bottom: 35px;
    left: 0px;
}

.START_btn, .PAUSE_btn, .RESUME_btn, .RETRY_btn{
    color: white;
    padding: 5px;
    font-size: 32px;
    border: none;
    border-radius: 3px;
    outline: none;
    min-width: 140px;
}

.START_btn{
    background: hsl(0, 80%, 40%);
}

.PAUSE_btn{
    background: hsl(120, 80%, 40%);
}

.RESUME_btn{
    background: hsl(240, 80%, 40%);
}

.RETRY_btn{
    background: hsl(30, 80%, 40%);
}