.Instruction{
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 156px - 28px);
    height: calc(416px - 28px);
    color: white;
    text-align: center;
    padding: 14px;
}

@media screen and (max-width: 992px){
    .Instruction{
        width: calc(70% - 28px);
        height: initial;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 50px;
        background: rgba(255,255,255,0.1)
    }
}

@media screen and (max-width: 768px){
    .Instruction{
        width: calc(312px - 28px);
        height: initial;
        margin-left: calc(50% - 156px);
        margin-right: calc(50% - 156px);
        margin-bottom: 50px;
        background: rgba(255,255,255,0.1)
    }
}

.Instruction > h1{
    margin: 0px;
    padding: 5px;
    margin-bottom: 14px;
    color: yellow;
}

.Instruction > div + div{
    margin-top: 14px;
}

.Instruction_Img{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}

.Instruction_Img + div{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 5px;
    width: calc(100% - 130px - 30px);
    padding-left: 30px;
    position: relative;
}

.Instruction_Img + div:before{
    content: attr(num);
    position: absolute;
    top: 5px;
    left: 14px;
}